

<% @itineraries.each do |itinerary| %>
    <li>
      <strong><%= itinerary.title %></strong>
      <%= itinerary.destination %>
      <%= itinerary.days %> "days", <%= itinerary.people %> "people"

      <%= link_to "Show", itinerary_path(itinerary) %>
    </li>
  <% end %>
